@use '../base/variables';

.button {
    background-color: variables.$button-color;
    color: variables.$foreground-color;
    border-radius: variables.$border-radius;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    transition: variables.$background-color 0.3s;
}

.button:hover {
    background-color: variables.$button-hover-color;
}
