@use '../base/variables';

#contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: variables.$spacing-lg;
    background-color: variables.$foreground-color;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow;

    h2 {
        font-family: variables.$heading-font-family;
        color: variables.$text-color;
    }

    input, textarea {
        width: 100%;
        padding: variables.$spacing-sm;
        border: 1px solid variables.$foreground-color;
        border-radius: variables.$border-radius;
    }

    .btn-submit {
        background-color: variables.$secondary-color;
        color: variables.$background-color;
    }
}
